.rectangle {
	width: 40px;
	height: 40px;
	object-fit: scale-down;
	padding-left: 3px;
}

.loaded {
	width: 50px;
	height: 50px;
	object-fit: scale-down;
}

#graphContainer {
	width: 100%;
}

.mOfn {
	width: 30px;
	height: 30px;
	object-fit: scale-down;
	padding-left: 8px;
}

.joint {
	width: 30px;
	height: 30px;
	object-fit: scale-down;
	padding-left: 8px;
}

div.mxCellEditor.mxPlainTextEditor {
	position: absolute;
}

div.mxRubberband {
	position: absolute;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-color: #00a2ff;
	background: #0077ff;
}

div.outlineContainer {
	position: absolute;
	overflow: hidden;
	bottom: 0px;
	right: 0px;
	width: 200px;
	height: 140px;
	background: transparent;
	border: solid black;
}

div.sbContainer {
	position: absolute;
	overflow: hidden;
	top: 36px;
	left: 0px;
	bottom: 0px;
	width: 56px;
	padding-top: 10px;
	padding-left: 4px;
	background: rgb(93, 131, 180);
}

div.tbContainer {
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	top: 0px;
	left: 0px;
	font-size: 12px;
	right: 0px;
	padding: 6px 66px;
	background: rgb(57, 81, 109);
}

div.container {
	background: url('../../assets/images/grid.png');
	position: absolute;
	overflow: hidden;
	top: 36px;
	left: 56px;
	bottom: 0px;
	right: 0px;
	margin: 0px;
	padding: 20px;
	max-width: 100%;
}

* {
	box-sizing: content-box;
}

div.mxWindowPane {
	position: inherit;
}

div.mxWindow {
	border: 1px solid grey;
}

.modalCont {
	background: url('../../assets/images/grid.png');
	position: absolute;
	overflow: hidden;
	top: 20px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
