.App {
	font-family: 'Helvetica', 'Arial', sans-serif;
	margin: 0;
}

.App-header {
	background-color: rgb(57, 81, 109);
	color: white;
	font-size: 18px;
	padding: 5px 0px 4px 20px;
	margin-bottom: 0;
}
